<%- include('index') %>
<section id="blogs" class="py-5 bg-light">
    <div class="container text-center">
        <h2>Blogs</h2>
        <p>Check out my latest blog posts!</p>
        <div class="embed-responsive embed-responsive-16by9 mb-3">
            <video controls class="embed-responsive-item">
                <source src="/videos/Asake_concert.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <video controls class="embed-responsive-item">
                <source src="/videos/Davido_funny_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
