<footer class="py-3 bg-primary text-white text-center">
    <div class="container">
        <p>Thank you for visiting my webpage</p>
        <p>Jidechukwu.aguh@ontariotechu.net</p>
    </div>
</footer>